.footer {
  max-height: 500px;
  padding: 3.8rem 0;
  border-top: 1px solid #eee;
  background-color: black;
  color: white;
}
.grid--footer {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}
.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}
.logo-col {
  display: flex;
  flex-direction: column;
}
.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}
.social-icons {
  width: 2.4rem;
  height: 2.4rem;
}
.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
  color: white;
}
.copyright {
  color: white;
  font-size: 1.4rem;
  line-height: 1.6;
  margin-top: auto;
}
.footer-heading {
  font-weight: 500;
  font-size: 1.8rem;
  margin-bottom: 4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: whitesmoke;
}
